{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Shop{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="navbar">
    <div class="logo">
        <a href="/">NeoShop</a>
    </div>

    <nav>
        <a href="/">Главная</a>
        <a href="{% url 'shop' %}">Магазин</a>
    </nav>
</header>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

<footer class="footer">
    <p>© 2026 NeoShop. Все права защищены.</p>
</footer>

</body>
</html>